

#bot
{
   height:100%;
   border-style:solid;
}



#botBanner
{
   text-align: center;
   width:100%;
   border-style:solid;
}


#carScroll
{
   display:inline-block;
   border-style:solid;
   height:70%;
   width:100%;
}

#carScroll *
{
   position:relative;
   float:left;
}

.carTile
{
   width:100%;
   border-style:solid;
   border-color:pink;
}

.tileContainer
{
   width:30%;
   border-style:solid;
   border-color:red;
}


#footer
{
   height:30%;
   width:100%;
   background-color: rgb(124, 171, 127);
}

#footerData
{
   text-align:center;
   height:50%;
}

#footerText
{
   color:white;
   font-size:10;
   position:relative;
   top:85%;

}

#footerImage
{
   height:50%;
}

#socialMedia
{
   position: relative;
   left: 46%;
   width:7%;
}

.editCar
{


}

.deleteCar
{


   
}